body {
	box-sizing: border-box;
	font-family: roboto;
	z-index: -100;
}

.welcome-screen {
	position: fixed;
	top: 30vh;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: red;
	z-index: 1;
}

p h2 h3 {
	color: #382D5E
}

.background-shroud {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: black;
	opacity: 0.8;	
}

.search-area {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 110px;
	border-bottom: 3px white solid;
	background-color: #FAFAFB;
	z-index: 3;
}

form {
	height: 45px;
	padding: 10px 15px 15px 30px;

}

h1 {
	color: #372D3B;
	line-height: 0;
	padding-top: 10px;
	padding-bottom: 0;
	text-align: center;
}

.no-such-location-error-message {
	position: relative;
	background-color: #FAFAFB;
	text-align: center;
	height: 60px;
	width: 44%;
	right: 7.5%;
	float: right;
	box-shadow: 1px 1px grey;
	padding-top: 8px;
	padding-bottom: 18px;
}

.no-such-location-error-message-close {
	float: right;
	cursor: pointer;
}

hr {
	border-top: 1px #DBDBDB solid;
}

input {
	font-size: 0.8em;
	border: 1px #1179F4 solid;
	width: 48%;
	padding-left: 5px;
	background-color: white;
}

input, .select-place-type {
	position: relative;
	height: 2.5em;
	top: 2px;
	border-radius: 0.6vh;
}

.select-place-type {
	width: 48%;
	background-color: white;
	border: 1px #F48024 solid;
}

.search-icon {
	text-align: center;
	position: fixed;
	padding-top: 2px;
	padding-left: 1px;
	top: 58px;
	right: 30px;
	width: 43px;
	height: 43px;
	cursor: pointer;
	background-color: #FAFAFB;
	border: 8px solid #DA6161;
	border-radius: 100px;
	box-shadow: 1px 0.5px grey;
}

.no-such-location-error-message {
	font-size: 0.8em;
}

.hidden {
	visibility: hidden;
}

.results-area {
	display: inline-block;
	z-index: -1;
	background-color: white;
	position: fixed;
	width: 350px; 
	height: 85.4vh;
	top: 110px;
	left: 0;
	overflow-y: auto;
	border-right: 3px solid white;
	z-index: 2;
	padding: 0;
}

.results-background {
	top: 0;
	left: 0;
	position: relative;
	width: 350px; 
	height: 100vh;
	position: fixed;
	background-color: white;
	z-index: 1
}

.map {
	height: 98vh;
	width: 100%;
	position: fixed;
}

.toggle-show-results-button {
	cursor: pointer;
	border: 8px solid #DA6161;
	border-radius: 100px;
	position: fixed;
	color: black;
	background-color: white;
	z-index: 5;
	top: 300px;
	box-shadow: 1px 0.5px grey;
}

.hide-button {
	left: 330px;
}

.show-button {
	left: -18px;
}

.results-initial-margin {
	text-align: center;
}

.results-initial-margin p {
	position: relative;
	vertical-align: center;
	margin: 0;
}

.attraction-individual-area {
	padding: 10px;
	margin: 10px;
	height: 100px;
	font-size: 0.8em;
	cursor: pointer;
}

.attraction-individual-area h3 {
	margin-top: 4px;
}

.attraction-image {
	position: relative;
	height: 100%;
	width: 100px;
	margin-left: 20px;
	float: right;
}



@media (max-width: 750px) { 
	.presearch {
		width: 300px;
	}

	.postsearch {

	}

	.search-icon {
		left: 265px;
	}

	input {
		width: 48%;
	}

	.select-place-type {
		width:48%;
	}

	form {

	}
}


input[type=text]::-ms-clear {  
	display: none; width : 0; height: 0; 
}

input[type=text]::-ms-reveal {  
	display: none; width : 0; height: 0; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
}
